<!DOCTYPE html>
html(xmlns="http://www.w3.org/1999/xhtml" xml:lang='ja')
    head
        meta(charset='utf-8')
        title=title
        link(rel='stylesheet' href='../css/epub.css')
    body
        block body-content
