html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
}

.container{
  padding: 0 1em;
  @media only screen {
    padding: 20mm;
  }
  &-toc{
    page-break-before: avoid;
  }
}

section{
  page-break-before: always;
}
