$pre-bg: #eee !default;
$pre-color: #000 !default;
$link-color: #000 !default;
$link-href-color: #aaa !default;

$h2-color: inherit !default;
$h2-border-style: 1px dashed #ddd !default;

$h3-color: inherit !default;
$h3-border-padding: 3mm !default;
$h3-border-style: $h3-border-padding solid #eee !default;

$figcaption-margin: 5mm !default;


.story-content {
  h1, h2, h3, h4, h5 {
    margin: 2em 0 1em;
    font-family: $sans;
    font-weight: normal;
  }
  h1 {
    font-size: 2em;
    // 著者名
    & + p{
      text-align: right;
      font-size: 1.2em;
      font-weight: bold;
      font-family: $sans;
      margin-bottom: 2em;
    }
  }
  h2 {
    color: $h2-color;
    font-size: 1.8em;
    border-bottom: $h2-border-style;
    padding-bottom: 1em;
  }
  h3 {
    color: $h3-color;
    font-size: 1.5em;
    border-left: $h3-border-style;
    padding-left: $h3-border-padding;
  }
  h4{
    font-weight: bold;
    font-size: $body-size;
  }
  p{
    line-height: 1.8;
    margin: 0;
    text-align: justify;
    text-justify: inter-ideograph;
    text-indent: 1em;
  }

  ul, dl, ol{
    font-family: $sans;
    margin: 1em 0;
  }
  ul,ol{
    padding-left: 1.5em;
  }
  li{
    margin: 0.25em 0;
  }
  ul li{
    list-style: square;
  }
  dt{
    font-weight: bold;
    margin: 0.5em 0 0.25em;
  }
  dl{
    page-break-before: always;
    padding: 1em;
    border: 0.5mm solid #000;
  }
  dd{
    margin: 0.25em 0 0.5em;
  }

  blockquote{
    position: relative;
    margin: 1em 0;
    padding: 1em;
    font-size: 1.1em;
    color: #000;
    font-family: $sans;
    &:before,&:after{
      font-size: 4em;
      position: absolute;
      color: #ccc;
    }
    &:before{
      content: "“";
      top: 0;
      left: 0;
    }
    &:after{
      content: "”";
      bottom: -0.5em;
      right: 0;
    }
  }

  a{
    font-family: $sans;
  }



  table {
    margin: 1em 0;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    font-family: $sans;
    th, td {
      border: 1px solid #ddd;
      padding: 1em;
    }
    thead th {
      border-bottom: 3px double #ddd;
    }
    tbody tr:nth-child(odd) {
      th, td {
        background-color: #f9f9f9;
      }
    }
  }

}

pre, code {
  background: $pre-bg;
  color: $pre-color;
  font-family: $monospace;
}

pre {
  margin: 1em 0;
  padding: 1em;
  line-height: 1.4;
  word-break: break-all;
  white-space: pre-wrap;
}


code {
  padding: 0.2em 0.25em;
}



img{
  max-width: 100%;
  width: auto;
  height: auto;
}

figure {
  text-align: center;
  padding: 1em;
  margin: 1em 0;
  background: #f9f9f9;
  img{
    max-width: 90%;
    page-break-inside: auto;
  }
}

figcaption {
  color: #888;
  font-size: 0.85em;
  margin-top: $figcaption-margin;
  font-family: $sans;
}

hr{
  display: block;
  border: none;
  text-align: center;
  &:after{
    content: "＊";
    color: $link-href-color;
    margin: 1em 0;
  }
}
